<!DOCTYPE html>
<html>
<head>
    <title>Hacker News | Django</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/master.css" type="text/css" media="screen"/>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
      <div class="container">
        <h1><a href="{% url 'index' %}"><span class="logo">HN</span>on Django</a></h1>
        <div class="nav">
          <ul>
            {% if user.is_authenticated %}
            <li><a href="#"> {{ user.username }} </a></li>
            <li><a href='{% url 'logout' %}'>logout</a></li>
            <li><a href="{% url 'story' %}">Submit</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
          </ul>
        <div class="nav">
          </div.>
        </div>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <footer>
    </footer>
</body>
</html>
